<div class="chart1" id="world_map_div" style="width: 700px; height: 700px;"></div>

<img src="/images/cloud1.png" class="cloud_chart1">
<p class="cloud_chart1_text">World Happiness Map</p>

<div class="chart1_buttons">
  <%= simple_form_for(@location) do |r| %>
    <%= r.select(:region, IsoCountryCodes.for_select) %>
    <%= r.submit "Change Location" %>
  <% end %>

  <%= simple_form_for(@location) do |r| %>
    <%= r.hidden_field :region, value: "world" %>
    <%= r.submit "See World" %>
  <% end %>
</div>

<img src="/images/cloud1.png" class="cloud_chart2">
<p class="cloud_chart2_text">World Happiness Timeline</p>

<div class="chart2" id='world_chart_div' style='width: 600px; height: 600px;'></div>

<div class="scales">
  <img src="/images/scale.png" class="scale1">
  <img src="/images/scale.png" class="scale2">
</div>
