<div class="scroll_container">
  <p class="notice"><%= notice %></p>

  <%= form_for(@happiness_log) do |f| %>

    <div>
      <%= f.label :image, "Take or Upload Your Image for Facial Analysis:" %>
      <%= f.filepicker_field :image, class: "filepicker", value: "Add Image", onchange: 'helloWorld(event)', button_text: 'Add Image', dragdrop: true, drag_class: "dragdrop", services: "COMPUTER, WEBCAM, FACEBOOK, INSTAGRAM, FLICKR, URL, IMAGE_SEARCH, DROPBOX, GMAIL, GOOGLE_DRIVE, BOX, SKYDRIVE, PICASA, GITHUB, EVERNOTE, ALFRESCO, FTP, WEBDAV" %>
    </div>

    <br>

    <div>
      <%= f.label "Post Title:" %>
      <%= f.text_area :title %> 
    </div>

    <div>
      <%= f.label @question %>
      <%= f.text_area :main_post, rows: 20 %>
    </div>
    
    <%= hidden_field_tag :question, @question %>

    <div>
      <%= f.label "Enter Location / Address: " %>
      <%= f.text_area :address %>
    </div>

    <div>
      <%= f.submit :"Find Happiness"%>
    </div>

  <% end %>
</div>

<%= filepicker_js_include_tag %>

<script type="text/javascript">
  var speed = 1550;

  $('div, img, a, span, form').hide();
  $(function() {
      $('div, img, a, span, form').fadeIn(speed, function() {
          $('a[href], button[href]').click(function(event) {
              var url = $(this).attr('href');
              if (url.indexOf('#') == 0 || url.indexOf('javascript:') == 0) return;
              event.preventDefault();
              $('html, body').fadeTo(speed, 0.85, function() {
                  window.location = url;
              });
          });
      });
  });
</script>
