<div class="large-12 medium-12 small-12 columns row media">
  <span class="twitter">
    <a href="https://twitter.com/dgreenbe77" class="twitter-follow-button" data-show-count="true">Follow @dgreenbe77</a>
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://bhappy.herokuapp.com" data-text="Bhappy">Tweet</a>
  </span>
  <div class="fb-like" data-href="http://bhappy.herokuapp.com" data-send="false" data-layout="button_count" data-show-faces="false"></div>
  <div class='fb-login'>
    <%= link_to image_tag("/images/fb_login.png"), user_omniauth_authorize_path(:facebook) %>
  </div>
  <div class='twitter-login'>
    <%= link_to image_tag("/images/twitter_login.png"), user_omniauth_authorize_path(:twitter) %>
  </div>
</div>

<div class="birds" >
  <img src="/images/smileybird.png" class="bird1" id="smileybird1">
  <img src="/images/smileybird1.png" class="bird2" id="smileybird2">
  <img src="/images/smileybird2.png" class="bird3" id="smileybird3">
</div>

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <div id="smiley">
      <h1 class="eye1">.</h1>
      <h1 class="eye2">.</h1>
      <h1 class="mouth">)</h1>
      <span class="circle"></span>
    </div>

    <div title="logo in cloud">
      <img class="logo_cloud" src="/images/cloud1.png">
      <h1 class="whole_logo"><a href="/"><img src="/images/smiley.png" class="logo">BHappy</a></h1>
    </div>

    <img src="/images/cloud1.png" class="cloud_login_right">
    <div class="login_logout_right">
      <% if user_signed_in? %>
        <span class="active"><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></span>
      <% else %>
        <span class="active"><%= link_to "Sign In", new_user_session_path %></span>
      <%end%>
    </div>
  </div>
</div>

<div class="logs">
  <%= link_to image_tag('/images/logs.png'), logs_happiness_logs_path %>
</div>

<div class="search2">
  <img src="/images/cloud1.png" class="cloud_search2">
  <span class="has-form search_bar2">
    <%= form_tag(search_happiness_logs_path, method: :get, class: 'large-3 small-3 columns') do %>
      <div class="row collapse">
        <div class="large-8 small-8 columns">
           <%= text_field_tag 'Query', nil, class: '' %>
        </div>
        <div class="large-4 small-4 columns">
          <%= submit_tag 'Search', class: 'alert button small round expand' %>
        </div>
      </div>
    <% end %>
  </span>
</div>

<div>
  <%= link_to "Find Happiness", new_happiness_log_path, class: "happy large round button"%>
</div>
