<%= render 'happiness_logs/index_navigation' %>

<img src="/images/logs2.png" class="fg_left">

<div class="logs_container">
  <% unless @happiness_logs.blank? %>
    <%= render partial: 'happiness_logs/happiness_log', collection: @happiness_logs %>
    <%= paginate @happiness_logs %>
  <% end %>
</div>

<%= link_to image_tag('world.png'), world_index_path, class: 'world'%>

<img src="/images/cloud1.png" data-stellar-ratio="1.7" class="user_cloud">
<p class="user_text" data-stellar-ratio="1.7">See Users<br><span>& Logs</span></p>
<img src="/images/arrow.png" class="arrow" data-stellar-ratio="1.7">

<%= render 'happiness_logs/user_pics' %>

<script type="text/javascript">
  var currentPos = 0;
  var bird1 = document.getElementById("smileybird1");
  var bird2 = document.getElementById("smileybird2");
  var bird3 = document.getElementById("smileybird3");  
  var bodWidth = screen.availWidth;
  var birdPos = -215;

  function move() {
    if (currentPos < (bodWidth + 500)) {
      currentPos = parseInt(bird1.style.right ?
                   bird1.style.right : birdPos) + 10;
      bird1.style.right = currentPos + "px";
      setTimeout("move()", 30);
    }
    if (currentPos < (bodWidth + 500)) {
      currentPos = parseInt(bird2.style.right ?
                   bird2.style.right : birdPos) + 8;
      bird2.style.right = currentPos + "px";
    }
    if (currentPos < (bodWidth + 500)) {
      currentPos = parseInt(bird3.style.right ?
                   bird3.style.right : birdPos) + 8;
      bird3.style.right = currentPos + "px";
    }
  }

  move();
</script>

