<div class="media">
  <span class="twitter">
    <a href="https://twitter.com/dgreenbe77" class="twitter-follow-button" data-show-count="true">Follow @dgreenbe77</a>
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://bhappy.herokuapp.com" data-text="Bhappy">Tweet</a>
  </span>
  <div class="fb-like" data-href="http://bhappy.herokuapp.com" data-send="false" data-layout="button_count" data-show-faces="false"></div>
  <div class='fb-login'>
    <%= link_to image_tag("/images/fb_login.png"), user_omniauth_authorize_path(:facebook) %>
  </div>
</div>

<img src="/images/cloud1.png" class="cloud_login_right">
<div class="login_logout_right">
  <% if user_signed_in? %>
    <span class="active"><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></span>
  <% else %>
    <span class="active"><%= link_to "Sign In", new_user_session_path %></span>
  <%end%>
</div>

<div class="logs">
  <%= link_to "Happiness Logs", logs_happiness_logs_path %>
</div>

<div class="logo_cloud">
  <img src="/images/cloud1.png">
  <h1 class="whole_logo"><a href="/"><img src="/images/smiley.png" class="logo">BHappy</a></h1>
</div>

<div class="birds" >
  <img src="/images/smileybird.png" class="bird1" id="smileybird1">
  <img src="/images/smileybird1.png" class="bird2" id="smileybird2">
  <img src="/images/smileybird2.png" class="bird3" id="smileybird3">
</div>

<div class="large-4 medium-4 columns" id="smiley">
  <h1 class="eye1">.</h1>
  <h1 class="eye2">.</h1>
  <h1 class="mouth">)</h1>
  <div class="circle"></div>
</div>

<div class="large-3 medium-3 columns">
  <img src="/images/cloud1.png" class="cloud1">
  <img src="/images/cloud1.png" data-stellar-ratio=".9"  class="cloud6">
  <img src="/images/cloud1.png" data-stellar-ratio="1"  class="cloud3">
  <img src="/images/cloud1.png" data-stellar-ratio="1.1"  class="cloud4">
  <img src="/images/cloud1.png" data-stellar-ratio="1.8"  class="cloud5">
  <img src="/images/cloud1.png" data-stellar-ratio="1.6"  class="cloud7">
  <img src="/images/cloud_cluster3.png" data-stellar-ratio="1.2"  class="cloud_cluster1">
  <img src="/images/cloud1.png" data-stellar-ratio="1.4"  class="cloud_cluster2">
</div>

    <div class="search">
      <img src="/images/cloud1.png" class="cloud_search2">
      <span class="has-form search_bar2">
        <%= form_tag(search_happiness_logs_path, method: :get, class: 'large-3 small-3 columns') do %>
          <div class="row collapse">
            <div class="large-8 small-8 columns">
               <%= text_field_tag 'Query', nil, class: '' %>
            </div>
            <div class="large-4 small-4 columns">
              <%= submit_tag 'Search', class: 'alert button small round expand' %>
            </div>
          </div>
        <% end %>
      </span>
    </div>

<div>
  <%= link_to "Find Happiness", new_happiness_log_path, class: "happy large round button"%>
</div>

<div class="upper_fg">
  <img src="/images/happy_foreground1.png" data-stellar-ratio="1.3" class = "fg_right">
  <img src="/images/happy_foreground2.png" data-stellar-ratio="1.1" class = "fg_left">
  <img src="/images/happy_foreground2.png" data-stellar-ratio="1.2" class = "cloud_left fg_left">
  <img src="/images/happy_foreground3.png" data-stellar-ratio="2" class = "fg_left">
  <img src="/images/happy_foreground4.png" data-stellar-ratio="1.2" class = "mountain3 fg_right">
  <img src="/images/happy_foreground5.png" data-stellar-ratio="1.8" class = "mountain3 fg_right">
  <img src="/images/happy_foreground6.png" data-stellar-ratio="2" class = "mountain1 fg_left">
  <img src="/images/happy_foreground7.png" data-stellar-ratio="1.2" class = "mountain2 fg_center"> 
  <img src="/images/happy_foreground8.png" data-stellar-ratio="1.1" class = "fg_left"> 
  <img src="/images/happy_foreground9.png" data-stellar-ratio=".9" class = "fg_left">
  <img src="/images/happy_foreground10.png" data-stellar-ratio="1.3" class = "fg_right"> 
  <img src="/images/happy_foreground11.png" data-stellar-ratio="1" class = "fg_right">
  <img src="/images/happy_foreground12.png" data-stellar-ratio="1.3" class = "fg_right">
</div>

<div class="lower_fg">
  <img src="/images/happy_foreground1.png" data-stellar-ratio="1.3" class = "lower_fg_right">
  <img src="/images/happy_foreground2.png" data-stellar-ratio="3" class = "lower_fg_left">
  <img src="/images/happy_foreground2.png" data-stellar-ratio="1.4" class = "lower_fg_left">
  <img src="/images/happy_foreground3.png" data-stellar-ratio="2" class = "lower_fg_left">
  <img src="/images/happy_foreground8.png" data-stellar-ratio="1.1" class = "lower_fg_left"> 
  <img src="/images/happy_foreground9.png" data-stellar-ratio=".9" class = "lower_fg_left">
  <img src="/images/happy_foreground10.png" data-stellar-ratio="1.8" class = "lower_fg_right"> 
  <img src="/images/happy_foreground11.png" data-stellar-ratio=".7" class = "lower_fg_right">
  <img src="/images/happy_foreground3.png" data-stellar-ratio="1.8" class = "lower_fg_right">
  <img src="/images/happy_foreground10.png" data-stellar-ratio=".6" class = "lower_fg_right"> 
  <img src="/images/happy_foreground11.png" data-stellar-ratio=".5" class = "lower_fg_right">
  <img src="/images/happy_foreground3.png" data-stellar-ratio=".8" class = "lower_fg_right">
</div>

<div class="chart1" id="map_div" style="width: 700px; height: 700;"></div>

<img src="/images/cloud1.png" class="cloud_chart1">
<p class="cloud_chart1_text">World Happiness Map</p>

<div class="chart1_buttons">
  <%= simple_form_for(@location) do |r| %>
    <%= r.select(:region, IsoCountryCodes.for_select) %>
    <%= r.submit "Change Location" %>
  <% end %>

  <%= simple_form_for(@location) do |r| %>
    <%= r.hidden_field :region, value: "world" %>
    <%= r.submit "See World" %>
  <% end %>
</div>

<img src="/images/cloud1.png" class="cloud_chart2">
<p class="cloud_chart2_text">World Happiness Timeline</p>

<div class="chart2" id='chart_div' style='width: 700px; height: 700px;'></div>

<div class="scales">
  <img src="/images/scale.png" class="scale1">
  <img src="/images/scale.png" class="scale2">
</div>

<script type='text/javascript' src= 'jsapi'></script>
<script type='text/javascript'>
google.load('visualization', '1', {'packages':['annotatedtimeline']});
google.setOnLoadCallback(drawChart);
function drawChart() {
  var data = new google.visualization.DataTable();
  data.addColumn('datetime', 'Date');
  data.addColumn('number', 'Happiness');

  var date = gon.date;
  var happiness_log = gon.happiness_logs;
  happiness_log.forEach( function (arrayItem) {
    for (var i in date) {
      data.addRows([
       [new Date(Date.parse(date[i])), arrayItem['happy_scale']]
       ]);
    }
  });

  var options = {
    colors: ['#e0440e'],
    displayAnnotations: true,
    max: 10,
    wmode: 'opaque',
    fill: 50,
    thickness: 3,
  };

  var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));

  chart.draw(data, options);
}
</script>

<script type="text/javascript">
  google.load('visualization', '1', {'packages': ['geochart']});
  google.setOnLoadCallback(drawMarkersMap);

  function drawMarkersMap() {
  var happiness_logs = gon.happiness_logs;
  var data = google.visualization.arrayToDataTable([['Location']]);
  data.addColumn('number', 'Happy Scale');   

  happiness_logs.forEach( function (arrayItem) {
     data.addRows([
       [arrayItem['address'], arrayItem['happy_scale']]
     ]);
  });

  var options = {
    region: gon.region,
    displayMode: 'markers',
    colorAxis: {colors: ['blue', 'red']}
  };

  var chart = new google.visualization.GeoChart(document.getElementById('map_div'));
  chart.draw(data, options);
  };
</script>

<%= javascript_include_tag "social_media" %>

<script>
  var currentPos = 0;
  var bird1 = document.getElementById("smileybird1");
  var bird2 = document.getElementById("smileybird2");
  var bird3 = document.getElementById("smileybird3");  
  var bodWidth = screen.availWidth;
  var birdPos = -215;

  function move() {
    if (currentPos < (bodWidth + 500)) {
      currentPos = parseInt(bird1.style.right ?
                   bird1.style.right : birdPos) + 10;
      bird1.style.right = currentPos + "px";
      setTimeout("move()", 30);
    }
    if (currentPos < (bodWidth + 500)) {
      currentPos = parseInt(bird2.style.right ?
                   bird2.style.right : birdPos) + 8;
      bird2.style.right = currentPos + "px";
    }
    if (currentPos < (bodWidth + 500)) {
      currentPos = parseInt(bird3.style.right ?
                   bird3.style.right : birdPos) + 8;
      bird3.style.right = currentPos + "px";
    }
  }
  
  move();
</script>

<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=220656758000337";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
