<% content_for(:navbar) do %>
  <section class="navbar"></section>
<% end %>

<img src="/images/cloud1.png" class="cloud_title">
<h1 align="center" class="show_cloud_title_text">Search Results</h1>

<br>

<div class="scroll_container">
  <% if @happiness_logs.empty? %>

    <p>No results found.</p>

  <% else %>

    <p><%= "#{@happiness_logs.count} result(s) found." %></p>

    <% @happiness_logs.each do |happiness_log| %>
        <p><%= happiness_log.title %></p>
        <p><%= happiness_log.main_post %></p>
        <p><%= happiness_log.address %></p>
        <span><%= link_to "happiness_log", happiness_log_path(happiness_log) %></span> |     
        <span><%= link_to "Edit", edit_happiness_log_path(happiness_log) %></span> | 
        <span><%= link_to "Delete", happiness_log_path(happiness_log), method: :delete %></span>
    <% end %>

  <% end %>
</div>
