<% content_for(:navbar) do %>
  <section class="navbar"></section>
<% end %>

<img src="/images/cloud1.png" class="cloud_title">
<h1 align="center" class="show_cloud_title_text"> Post Data: </h1>

<%= render 'show_charts' %>

<div class="scroll_container2">
  <% unless @happiness_log.image == "Add Image" || @happiness_log.image.blank? %>
    <%= filepicker_image_tag @happiness_log.image, w: 400, h: 400, fit: 'clip', class: 'center' %>
    <%= filepicker_save_button "Save", @happiness_log.image, "image/jpg" %>
  <% end %>

  <p>
    <strong>Main Post:</strong>
    <%= @happiness_log.main_post %>
  </p>

  <p>
    <strong>Happy:</strong>
    <%= @happiness_log.happy_scale %>
  </p>

  <p>
    <strong>Image Analysis:</strong>
    <%= @happiness_log.smile %>
  </p>

  <%= link_to 'Edit', edit_happiness_log_path(@happiness_log) %> |
  <%= link_to 'Back', happiness_logs_path %>
</div>
