<h2> Post Data: </h2>
<%= Demographic.compare_age_ranges(5, 25, 15, 65) %> 
<h5>  Add Posts to See More Accurate Data </h5>

<div id='chart_div' style='width: 1200px; height: 640px;'></div>

<br><br>

<div id="map_div" style="width: 900px; height: 900;"></div>

<br><br>

<%= simple_form_for(@location) do |r| %>
  <%= r.select(:region, IsoCountryCodes.for_select) %>
  <%= r.submit "Change Region" %>
<% end %>

<%= simple_form_for(@location) do |r| %>
  <%= r.hidden_field :region, value: "world" %>
  <%= r.submit "See World" %>
<% end %>

<div id="donutchart" style="width: 1300px; height: 500px;"></div>

<% unless @happiness_log.image == "Add Image" || @happiness_log.image.blank? %>
  <%= filepicker_image_tag @happiness_log.image, w: 400, h: 400, fit: 'clip', class: 'center' %>
  <%= filepicker_save_button "Save", @happiness_log.image, "image/jpg" %>
<% end %>

<p>
  <strong>Main Post:</strong>
  <%= @happiness_log.main_post %>
</p>

<% unless @response.nil? %>
  <h1><%= @response.body["face"] %></h1>
<% end %>

<p>
  <strong>Happiness Logs:</strong>
  <%= @happiness_logs.map(&:serializable_hash)%>
</p>

<p>
  <strong>Happy:</strong>
  <%= @happiness_log.happy_scale %>
</p>

<p>
  <strong>Smile:</strong>
  <%= @happiness_log.smile %>
</p>

<%= link_to 'Edit', edit_happiness_log_path(@happiness_log) %> |
<%= link_to 'Back', happiness_logs_path %>

<script type='text/javascript' src='jsapi'></script>
<script type='text/javascript'>
  google.load('visualization', '1', {'packages':['annotatedtimeline']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Date');
    data.addColumn('number', 'Happiness');   
    data.addColumn('number', 'Image Analysis');
    data.addColumn('string', 'Post');

    var date = gon.date;
    var happiness_log = gon.happiness_logs;
    happiness_log.forEach( function (arrayItem) {
      for (var i in date) {
        data.addRows([
         [new Date(Date.parse(date[i])), arrayItem['happy_scale'], arrayItem['smile_scale'], arrayItem['main_post']]
         ]);
      }
    });

    var options = {
      colors: ['#e0440e', '#FFCC00'],
      displayAnnotations: true,
      max: 10,
      fill: 10,
      wmode: 'opaque',
      thickness: 2,
      displayAnnotations: true,
    };

    var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.load('visualization', '1', {'packages': ['geochart']});
  google.setOnLoadCallback(drawMarkersMap);

  function drawMarkersMap() {
  var happiness_log = gon.happiness_logs;
  var data = google.visualization.arrayToDataTable([['Location']]);
  data.addColumn('number', 'Happy Scale');   

  happiness_log.forEach( function (arrayItem) {
     data.addRows([
       [arrayItem['address'], arrayItem['happy_scale']]
     ]);
  });

  var options = {
    region: gon.region,
    displayMode: 'markers',
    colorAxis: {colors: ['blue', 'red']}
  };

  var chart = new google.visualization.GeoChart(document.getElementById('map_div'));
  chart.draw(data, options);
  };
</script>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable(
      [['Factors Mentioned (Scaled From 1-10)']]);
    data.addColumn('number', 'Scale')
    
    var happiness_log = gon.current_happiness_log

    data.addRows([
      ['Health', happiness_log['health_scale']],
      ['Wealth', happiness_log['wealth_scale']],
      ['Culture', happiness_log['culture_scale']],
      ['Location', happiness_log['location_scale']],
      ['Spirituality', happiness_log['spirituality_scale']],
      ['Relationship', happiness_log['relationship_scale']],
      ['Activity', happiness_log['activity_scale']],
      ['Passion', happiness_log['passion_scale']],
      ['Satisfaction', happiness_log['satisfaction_scale']],
      ['Self-View', happiness_log['self_view_scale']]         
    ]);

    var options = {
      title: 'Factors Mentioned',
      pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }
</script>
