<% content_for(:navbar) do %>
  <section class="navbar"></section>
<% end %>

<img src="/images/cloud1.png" class="cloud_title">
<h1 align="center" class="show_cloud_title_text"> Post Data: </h1>

<%= render 'show_charts' %>

<div class="scroll_container2">
  <% unless @happiness_log.image == "Add Image" || @happiness_log.image.blank? %>
    <%= filepicker_image_tag @happiness_log.image, w: 400, h: 400, fit: 'clip', class: 'center' %>
    <%= filepicker_save_button "Save", @happiness_log.image, "image/jpg" %>
  <% end %>

  <p>
    <strong>Main Post:</strong>
    <%= @happiness_log.main_post %>
  </p>

  <p>
    <strong>Happy:</strong>
    <%= @happiness_log.happy_scale %>
  </p>

  <p>
    <strong>Image Analysis:</strong>
    <%= @happiness_log.smile %>
  </p>

  <%= link_to 'Edit', edit_happiness_log_path(@happiness_log) %> |
  <%= link_to 'Back', happiness_logs_path %>
</div>

<script type='text/javascript' src='jsapi'></script>
<script type='text/javascript'>
  google.load('visualization', '1', {'packages':['annotatedtimeline']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Date');
    data.addColumn('number', 'Happiness');   
    data.addColumn('number', 'Image Analysis');
    data.addColumn('string', 'Post');

    var date = gon.date;
    var happiness_log = gon.happiness_logs;
    happiness_log.forEach( function (arrayItem) {
      for (var i in date) {
        data.addRows([
         [new Date(Date.parse(date[i])), arrayItem['happy_scale'], arrayItem['smile_scale'], arrayItem['main_post']]
         ]);
      }
    });

    var options = {
      colors: ['#e0440e', '#FFCC00'],
      displayAnnotations: true,
      max: 10,
      fill: 10,
      wmode: 'opaque',
      thickness: 2,
      displayAnnotations: true,
    };

    var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.load('visualization', '1', {'packages': ['geochart']});
  google.setOnLoadCallback(drawMarkersMap);

  function drawMarkersMap() {
  var happiness_log = gon.happiness_logs;
  var data = google.visualization.arrayToDataTable([['Location']]);
  data.addColumn('number', 'Happy Scale');   

  happiness_log.forEach( function (arrayItem) {
     data.addRows([
       [arrayItem['address'], arrayItem['happy_scale']]
     ]);
  });

  var options = {
    region: gon.region,
    displayMode: 'markers',
    colorAxis: {colors: ['blue', 'red']}
  };

  var chart = new google.visualization.GeoChart(document.getElementById('map_div'));
  chart.draw(data, options);
  };
</script>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable(
      [['On a 0-10 scale, with 5 being your average mentions of the subject']]);
    data.addColumn('number', 'Scale')
    
    var happiness_log = gon.current_happiness_log

    data.addRows([
      ['Health', happiness_log['health_scale']],
      ['Wealth', happiness_log['wealth_scale']],
      ['Culture', happiness_log['culture_scale']],
      ['Location', happiness_log['location_scale']],
      ['Spirituality', happiness_log['spirituality_scale']],
      ['Relationship', happiness_log['relationship_scale']],
      ['Activity', happiness_log['activity_scale']],
      ['Passion', happiness_log['passion_scale']],
      ['Satisfaction', happiness_log['satisfaction_scale']],
      ['Self-View', happiness_log['self_view_scale']]         
    ]);

    var options = {
      title: 'On a 0-10 scale, with 5 being your average mentions of the subject',
      pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }
</script>
