<% if content_for?(:navbar) %>  
  <div class="navbar">

  <div class="logo_bird">
    <a href="/"><img src="/images/smileybird.png"></a>
    <span class="logo_text">Bhappy</span>
  </div>

  <img src="/images/cloud1.png" class="cloud_login">
  <div class="login_logout">
    <% if user_signed_in? %>
      <span class="active"><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></span>
    <% else %>
      <span class="active"><%= link_to "Sign In", new_user_session_path %></span>
    <%end%>
  </div>

  <div class="search">
    <img src="/images/cloud1.png" class="cloud_search">
    <span class="has-form search_bar">
      <%= form_tag(search_happiness_logs_path, method: :get, class: 'large-3 small-3 columns') do %>
        <div class="row collapse">
          <div class="large-8 small-8 columns">
             <%= text_field_tag 'Query', nil %>
          </div>
          <div class="large-4 small-4 columns">
            <%= submit_tag 'Search', class: 'alert button small round expand' %>
          </div>
        </div>
      <% end %>
    </span>
  </div>

<% end %>
