<!DOCTYPE html>
<html>
<head>
  <title>Bhappy - Chart Your Personal Path to Happiness</title>
  <%= include_gon %>
  <link rel="Icon" href="/images/smiley.png">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="background">
    <img src="/images/sky.png" class="bg">
  </div>

  <%= render 'layouts/navbar' %>

  <%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <script>
    // $.stellar();
  </script>
</body>

</html>
