<!DOCTYPE html>
<html>
<head>
  <title>Bhappy - Chart Your Personal Path to Happiness</title>
  <%= include_gon %>
  <link rel="Icon" href="/images/smiley.png">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="background">
    <img src="/images/sky.png" class="bg">
  </div>

  <%= render 'layouts/navbar' %>

  <%= yield %>
</body>

<script>
  $.stellar();
</script>

</html>
